/* 
* font-family: 'Roboto', sans-serif;
* font-family: 'Roboto Condensed', sans-serif;

* font-family: "alpha Slab", "sans-serif"; mas gruesa 
* font-family: "Oswald", "sans-serif" mas delgada 

* COLORES 

* #EC6C01 naranjo 
* #1E4873 azul 
* #FFF blanco 

*/ 
@font-face{
  font-family: "alpha Slab"; 
  src: url(../../AlfaSlabOne-Regular.ttf);
}
/* Timeline */

.imglogo {
  max-height: 1.875em;
}
.logo-nav{
  padding-top: 10px;
}

/*nav bar */
.navbar-header{
  background-color: #325D7F;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #325D7F;
  border-style: none;
}
.navbar-default .navbar-toggle {
  border-color: #325D7F ;
}
.navbar-toggle{
  margin-top: 3px;
  margin-bottom: 3px;
}
.navbar-brand{
  font-size: 25px;
}
#bs-example-navbar-collapse-1{
  background-color: #325D7F;
}

#bs-example-navbar-collapse-1 ul li a{
  text-align: right; 
  font-family: "Oswald", "sans-serif" ;
  font-size: 16px;

}
.navbar-default .navbar-nav>li>a {
  color: #EC6C01;
}
.btn-header{
  color: #EC6C01;
  font-size: 25px;
  float: right;
}
.btn-default {
  color: #EC6C01;
  background-color: #325D7F;
  border-color: #325D7F;
  font-size: 25px;
}
#caja-nuevo-post{
  /*outline: 2px solid black;*/
  height: 20vh; 
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

.imagen-usuario{
  display: inline-block;
  position: relative;
  top:5px;
  background-image: url(../img/userphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: 5px 0px 10px 5px;
  border-radius: 50%;
}

#nombre-usuario-caja-posteo{
  /*outline: 2px solid black;*/
  display: inline-table;
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 10px;
}

/*Posteos cuerpo */

.post-friend{
  /*outline: 2px solid red;*/ 
  height: auto;
  margin-left: 10px;
  margin-right: 5px; 
  /*border-radius: 4px; 
  border-color: #ddd;
  border:1px solid #ddd;*/

}

.imagen-friend{
  position: absolute;
 /*border: 2px solid red; */
  border-radius: 50%; 
  height: 35px; 
  width: 35px;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
}

/*.name-friend{
  position: relative; 
  outline: 2px solid red;
  padding-left: 120px;
  padding-top: 10px;
  margin-top: 5px;
  display: inline-block;
}*/

.name-friend p{
  font-family: "Oswald",   "sans-serif" ; 
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 40px;
  padding-left: 80px;
  padding-top: 15px;
}
.mensaje-friend{
 padding-left: 20px; 
 padding-top: 20px;
 padding-right: 10px;
 overflow: hidden;
}
.mensaje-friend p{
  font-size: 12px;
  padding-right:20px;
  overflow: auto;
}

.reacciones-friend{
  padding-left: 40px;
}
.reacciones-friend span{
  font-size: 20px;
}
#friend1{
  background-image: url(../img/imagenes-posteos/friend_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#friend2{
  background-image: url(../img/imagenes-posteos/friend_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#friend3{
  background-image: url(../img/imagenes-posteos/friend_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-comentar{
  background-color: #fff; 
  font-family: "Oswald", "sans-serif" ;
  color: #000; 
  margin-left: 20px;
  text-decoration: underline;

}
.none{
  display: none;
}

.block{
  display: block;
}
.line{
  margin-bottom: 2px;
}
.caja-comentario-post{
  outline: 2px solid red;
  height: 80px;
  width: 80%;
  margin-left: 20px; 
  margin-bottom: 20px;
}
.comentario-de-post{
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: flex-start;
}
.comentar-post{
  margin-left: 40px;
  border: 2px solid #000;
  height: auto;
  width: 60%;
}

#img-comentario-post{
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  outline: 2px solid red;
  margin-left: 5px;
  margin-top: 10px;
}
.comentario-nuevo{
  display: block;
  margin-left: 70px;
  padding-top: 15px;
  font-family: "Oswald", "sans-serif" ;
}
.div-supremo-comentario{
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

/*Noticias*/

.resumen-noticia{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
#cuerpo{
  position: relative;
  top: 65px;
}
.other{
  margin-left: 10px; 
}
.other h5{
  text-transform: uppercase;
  padding-left: 5px; 
  font-family: "Oswald", "sans-serif";
  font-weight: 700; 
  text-decoration: underline;
}
#myimg{
  background-image: url(../img/userphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Estilos modal de posteos*/

.title-modal-post{
  font-family: "alpha Slab", "sans-serif";
  font-size: 16px;
  color: #325D7F;
}
#mypost{
  width: 220px;
  height: 70px;
  max-height: 100px;
  margin-left: 10px;
  border-color: #325D7F;
  border-radius: 5px;
  resize: none;
}
#mypost::placeholder{
  font-family: "Oswald", "sans-serif";
}
#btn-publicar{
  font-family: "alpha Slab", "sans-serif" ;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #EC6C01;
  color: #fff; 
}
.fa{
  color: #EC6C01; 
}

